---
const { data } = Astro.props;
import ImageComp from "./ImageComp.astro";

---
<div class={data.styling || "relative h-[100vh] lg:h-[83vh] min-h-fit"}>
  <ImageComp
    src={data.image}
    alt={data.alt}
    classes={`object-cover h-full w-full`}
    loading="eager"
  />

  <div
    class="absolute inset-0 flex items-center px-5 text-left text-white backdrop-brightness-50 md:px-10 lg:px-20"
  >
    <div class="flex translate-y-5 flex-col gap-3 md:w-1/2 lg:gap-6 mt-20 lg:mt-32">
      <p class="eyebrow font-semibold uppercase lg:text-base">
        {data.eyebrow}
      </p>
      <h1
        class="font-display max-w-2xl text-4xl font-black italic lg:max-w-6xl lg:text-7xl"
      >
        {data.title}
      </h1>
      {
        data.paragraph && (
          <h2 class="text-2xl font-semibold lg:text-3xl">{data.paragraph}</h2>
        )
      }

      <div class="mt-4 flex flex-wrap gap-4">
        {
          data.buttons && data.buttons.map((button) => (
            <a href={button.href} class={button.style}>
              {button.text}
            </a>
          ))
        }
    </div>
  </div>
</div>
